<div class="row">
      <div class="col-md-4 col-md-offset-4">
         <h1>

          <div class="btn-group-vertical" role="group" >

                  <a href="./signup"> Sign UP</a></br>
                  <a href="./signin">Sign IN</a>
          </div>

        </h1>
      </div>
</div>
